In [23]:

from datetime import datetime

# Create a Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DaysLatePayment").getOrCreate()

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pyspark.sql.functions as F
from pyspark.sql.functions import col, datediff, when
from pyspark.ml.feature import Imputer
from pyspark.sql.functions import median
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler

from pyspark.ml import Pipeline
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# from pyspark.ml.classification import LogisticRegression
# from pyspark.ml.classification import DecisionTreeClassifier
# from pyspark.ml.classification import RandomForestClassifier

In [24]:
# Assuming your dataset is stored in a DataFrame called df

# Load the CSV file into a DataFrame
df = spark.read.csv("credit_default_dataset.csv", header=True, inferSchema=True)

In [25]:
df.show(5)

+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
| ID|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|PAY_0|PAY_2|PAY_3|PAY_4|PAY_5|PAY_6|BILL_AMT1|BILL_AMT2|BILL_AMT3|BILL_AMT4|BILL_AMT5|BILL_AMT6|PAY_AMT1|PAY_AMT2|PAY_AMT3|PAY_AMT4|PAY_AMT5|PAY_AMT6|default_payment_next_month|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
|  1|    20000|  2|        2|       1| 24|    2|    2|   -1|   -1|   -2|   -2|     3913|     3102|      689|        0|        0|        0|       0|     689|       0|       0|       0|       0|                         1|
|  2|   120000|  2|        2|       2| 26|   -1|    2|    0|    0|    0|    2|     2682|     1725|     2682|     3272|     3455|     3261|       0|    1000|    1000|    1000|       0|    2000|                         1|
|  3|    90000|  2|        2|       2| 34|    0|    0|    0|    0|    0|    0|    29239|    14027|    13559|    14331|    14948|    15549|    1518|    1500|    1000|    1000|    1000|    5000|                         0|
|  4|    50000|  2|        2|       1| 37|    0|    0|    0|    0|    0|    0|    46990|    48233|    49291|    28314|    28959|    29547|    2000|    2019|    1200|    1100|    1069|    1000|                         0|
|  5|    50000|  1|        2|       1| 57|   -1|    0|   -1|    0|    0|    0|     8617|     5670|    35835|    20940|    19146|    19131|    2000|   36681|   10000|    9000|     689|     679|                         0|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
only showing top 5 rows

In [26]:
df = df.withColumnRenamed("PAY_0", "PAY_1")
df.show(5)

+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
| ID|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|PAY_1|PAY_2|PAY_3|PAY_4|PAY_5|PAY_6|BILL_AMT1|BILL_AMT2|BILL_AMT3|BILL_AMT4|BILL_AMT5|BILL_AMT6|PAY_AMT1|PAY_AMT2|PAY_AMT3|PAY_AMT4|PAY_AMT5|PAY_AMT6|default_payment_next_month|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
|  1|    20000|  2|        2|       1| 24|    2|    2|   -1|   -1|   -2|   -2|     3913|     3102|      689|        0|        0|        0|       0|     689|       0|       0|       0|       0|                         1|
|  2|   120000|  2|        2|       2| 26|   -1|    2|    0|    0|    0|    2|     2682|     1725|     2682|     3272|     3455|     3261|       0|    1000|    1000|    1000|       0|    2000|                         1|
|  3|    90000|  2|        2|       2| 34|    0|    0|    0|    0|    0|    0|    29239|    14027|    13559|    14331|    14948|    15549|    1518|    1500|    1000|    1000|    1000|    5000|                         0|
|  4|    50000|  2|        2|       1| 37|    0|    0|    0|    0|    0|    0|    46990|    48233|    49291|    28314|    28959|    29547|    2000|    2019|    1200|    1100|    1069|    1000|                         0|
|  5|    50000|  1|        2|       1| 57|   -1|    0|   -1|    0|    0|    0|     8617|     5670|    35835|    20940|    19146|    19131|    2000|   36681|   10000|    9000|     689|     679|                         0|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
only showing top 5 rows

In [27]:


# Assuming columns like BILL_AMT1, PAY_AMT1, BILL_AMT2, PAY_AMT2, etc.
for month in range(1, 7):
    bill_col = f"BILL_AMT{month}"
    pay_col = f"PAY_AMT{month}"

    # Create a new column for the number of months late
    months_late_col = f"Months_Late_Month_{month}"
    df = df.withColumn(months_late_col, when(col(pay_col).isNotNull(), col("PAY_1") - month).otherwise(None))

# Display the updated DataFrame structure
df.printSchema()

# Display the first few rows of the DataFrame
df.show(5, truncate=False)

# Try converting the DataFrame to Pandas
df_pandas = df.toPandas()
print(df_pandas)

root
 |-- ID: integer (nullable = true)
 |-- LIMIT_BAL: integer (nullable = true)
 |-- SEX: integer (nullable = true)
 |-- EDUCATION: integer (nullable = true)
 |-- MARRIAGE: integer (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- PAY_1: integer (nullable = true)
 |-- PAY_2: integer (nullable = true)
 |-- PAY_3: integer (nullable = true)
 |-- PAY_4: integer (nullable = true)
 |-- PAY_5: integer (nullable = true)
 |-- PAY_6: integer (nullable = true)
 |-- BILL_AMT1: integer (nullable = true)
 |-- BILL_AMT2: integer (nullable = true)
 |-- BILL_AMT3: integer (nullable = true)
 |-- BILL_AMT4: integer (nullable = true)
 |-- BILL_AMT5: integer (nullable = true)
 |-- BILL_AMT6: integer (nullable = true)
 |-- PAY_AMT1: integer (nullable = true)
 |-- PAY_AMT2: integer (nullable = true)
 |-- PAY_AMT3: integer (nullable = true)
 |-- PAY_AMT4: integer (nullable = true)
 |-- PAY_AMT5: integer (nullable = true)
 |-- PAY_AMT6: integer (nullable = true)
 |-- default_payment_next_month: integer (nullable = true)
 |-- Months_Late_Month_1: integer (nullable = true)
 |-- Months_Late_Month_2: integer (nullable = true)
 |-- Months_Late_Month_3: integer (nullable = true)
 |-- Months_Late_Month_4: integer (nullable = true)
 |-- Months_Late_Month_5: integer (nullable = true)
 |-- Months_Late_Month_6: integer (nullable = true)

+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|ID |LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|PAY_1|PAY_2|PAY_3|PAY_4|PAY_5|PAY_6|BILL_AMT1|BILL_AMT2|BILL_AMT3|BILL_AMT4|BILL_AMT5|BILL_AMT6|PAY_AMT1|PAY_AMT2|PAY_AMT3|PAY_AMT4|PAY_AMT5|PAY_AMT6|default_payment_next_month|Months_Late_Month_1|Months_Late_Month_2|Months_Late_Month_3|Months_Late_Month_4|Months_Late_Month_5|Months_Late_Month_6|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|1  |20000    |2  |2        |1       |24 |2    |2    |-1   |-1   |-2   |-2   |3913     |3102     |689      |0        |0        |0        |0       |689     |0       |0       |0       |0       |1                         |1                  |0                  |-1                 |-2                 |-3                 |-4                 |
|2  |120000   |2  |2        |2       |26 |-1   |2    |0    |0    |0    |2    |2682     |1725     |2682     |3272     |3455     |3261     |0       |1000    |1000    |1000    |0       |2000    |1                         |-2                 |-3                 |-4                 |-5                 |-6                 |-7                 |
|3  |90000    |2  |2        |2       |34 |0    |0    |0    |0    |0    |0    |29239    |14027    |13559    |14331    |14948    |15549    |1518    |1500    |1000    |1000    |1000    |5000    |0                         |-1                 |-2                 |-3                 |-4                 |-5                 |-6                 |
|4  |50000    |2  |2        |1       |37 |0    |0    |0    |0    |0    |0    |46990    |48233    |49291    |28314    |28959    |29547    |2000    |2019    |1200    |1100    |1069    |1000    |0                         |-1                 |-2                 |-3                 |-4                 |-5                 |-6                 |
|5  |50000    |1  |2        |1       |57 |-1   |0    |-1   |0    |0    |0    |8617     |5670     |35835    |20940    |19146    |19131    |2000    |36681   |10000   |9000    |689     |679     |0                         |-2                 |-3                 |-4                 |-5                 |-6                 |-7                 |
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 5 rows

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_1  PAY_2  PAY_3  \
0          1      20000    2          2         1   24      2      2     -1
1          2     120000    2          2         2   26     -1      2      0
2          3      90000    2          2         2   34      0      0      0
3          4      50000    2          2         1   37      0      0      0
4          5      50000    1          2         1   57     -1      0     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29995  29996     220000    1          3         1   39      0      0      0
29996  29997     150000    1          3         2   43     -1     -1     -1
29997  29998      30000    1          2         2   37      4      3      2
29998  29999      80000    1          3         1   41      1     -1      0
29999  30000      50000    1          2         1   46      0      0      0

       PAY_4  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  default_payment_next_month  \
0         -1  ...         0         0         0                           1
1          0  ...      1000         0      2000                           1
2          0  ...      1000      1000      5000                           0
3          0  ...      1100      1069      1000                           0
4          0  ...      9000       689       679                           0
...      ...  ...       ...       ...       ...                         ...
29995      0  ...      3047      5000      1000                           0
29996     -1  ...       129         0         0                           0
29997     -1  ...      4200      2000      3100                           1
29998      0  ...      1926     52964      1804                           1
29999      0  ...      1000      1000      1000                           1

       Months_Late_Month_1  Months_Late_Month_2  Months_Late_Month_3  \
0                        1                    0                   -1
1                       -2                   -3                   -4
2                       -1                   -2                   -3
3                       -1                   -2                   -3
4                       -2                   -3                   -4
...                    ...                  ...                  ...
29995                   -1                   -2                   -3
29996                   -2                   -3                   -4
29997                    3                    2                    1
29998                    0                   -1                   -2
29999                   -1                   -2                   -3

       Months_Late_Month_4  Months_Late_Month_5  Months_Late_Month_6
0                       -2                   -3                   -4
1                       -5                   -6                   -7
2                       -4                   -5                   -6
3                       -4                   -5                   -6
4                       -5                   -6                   -7
...                    ...                  ...                  ...
29995                   -4                   -5                   -6
29996                   -5                   -6                   -7
29997                    0                   -1                   -2
29998                   -3                   -4                   -5
29999                   -4                   -5                   -6

[30000 rows x 31 columns]

In [ ]:
# Stop the Spark session
spark.stop()